/node_modules
/public/hot
/dist
# /storage/*.key
# /vendor
# .env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Ignore the .env file
.env

# Ignore the vendor/ directory
/vendor/

